<mat-card
  class="task-table"
  cdkDropList
  [cdkDropListData]="taskArray"
  (cdkDropListDropped)="onDropElement($event)"
>
  <div class="task-table-head">
    <h2 class="task-table-title">placeholder</h2>
    <app-task-table-menu
      (deleteMenu)="onReciveTableDelete()"
    ></app-task-table-menu>
  </div>

  @for (item of taskArray; track $index) {

  <app-task-table
    cdkDrag
    (taskId)="onReciveDelete($event)"
    [taskData]="item"
    [cdkDragData]="item"
    [arrayIndex]="taskArrayID"
  >
    <div class="task-placeholder" *cdkDragPlaceholder></div
  ></app-task-table>
  }
  <app-taks-table-button
    (AddTask)="onAddTaskEmit($event)"
  ></app-taks-table-button>
</mat-card>
