<h2 mat-dialog-title>Add new task</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input type="date" matInput [(ngModel)]="data.date" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoclick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
