<h2 mat-dialog-title>Add new task</h2>
<mat-dialog-content class="taks-dialog-content">
  <p></p>
  <mat-form-field class="task-dialog-form">
    <mat-label>Task</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <p></p>
  <mat-form-field class="task-dialog-form">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p></p>
  <mat-form-field class="task-dialog-form">
    <mat-label> Task details </mat-label>
    <textarea
      matInput
      name=""
      id=""
      cols="30"
      rows="10"
      [(ngModel)]="data.desc"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoclick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
