<main class="app-main" cdkDropListGroup>
  <h1>Your task board</h1>
  <div class="app-main-create-table">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="table-button"
      aria-label="create new task table"
      (click)="addButtonClick()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="add-task"
        fontIcon="add"
      ></mat-icon>
      Create new table
    </button>
  </div>
  <div class="app-main-table">
    @for (taskData of tasks; track $index) {
    <app-taks-table-column
      [taskArray]="tasks[$index].tasks"
      [taskArrayID]="$index"
      [taskArrayName]="tasks[$index].name"
      (drop)="drop($event)"
    ></app-taks-table-column>
    }
  </div>
</main>

<router-outlet />
